@import "var.scss";

.home {
  .swiper-container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    img {
      width: 100%;
    }
  }

  .section {
    width: 100%;
    margin-top: 20px;
    padding: $content-padding;
    background-color: $color-white;
    box-sizing: border-box;
  }
}
