@import "var.scss";
@import "global.scss";

.info {
  padding-bottom: 30px;
  .title {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $color-black;
  }

  hr {
    width: 98%;
  }

  .personal {
    padding-right: 50px;
    padding-top: 40px;
  }

  .btn {
    width: 100%;
    height: 40px;
    margin-left: 40px;
    @include layout(center, center);
    cursor: pointer;
    div {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: $color-blue-active;
      margin: 0 20px;
      color: $color-white;
    }
  }
}
