
.content-item {
  padding: 0 20px;
  width: 13vw;
  min-width: 140px;
  position: relative;
}

.kuo, .mask {
  width: 13vw;
  height: 13vw;
  min-width: 140px;
  min-height: 140px;
  border-radius: 6px;
}

.kuo {
  overflow: hidden;
}

.mask{
  position: absolute;
  top:0;
  background-color: rgba(52,47,41,.4);
  transition:all .3s ease-in-out;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask:hover{
  opacity: 1;
  cursor: pointer;
}

.kuo:hover{
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.kuo:hover>.item-img{
  transform: scale(1.1);
}

.item-img {
  width: 100%;
  transition: all 0.6s ease-in-out;
}

.item-name {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  margin: 10px 8px;
}

.icon {
  width: 2em;
  height: 2em;
  fill: currentColor;
  color: rgba(240,240,240,1);
  font-size: 1.6em;
}
