@import "var.scss";
@import "global.scss";

.personal-data {
  padding-bottom: 30px;
  .title {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $color-black;
  }

  hr {
    width: 98%;
  }

  .personal {
    padding-right: 50px;
    padding-top: 40px;
    width: 92%;
  }

  .btn {
    width: 100%;
    height: 40px;
    @include layout(center, center);
  }
}
