@import "var.scss";
@import "global.scss";

.search{
  margin: auto;
  margin-top: 0;
  padding-top: $header-height;
  background-color: $color-white;
  border-radius: 12px;
  width: 900px;
  position: relative;
}

.searchList-nav {
  @include layout(space-around);
  margin-top: 20px;
  font-size: 1.5rem;
  color: $color-black;
  span {
    line-height: 50px;
    cursor: pointer;
  }
}

.is-active {
  font-weight: 600;
  border-bottom:5px solid $color-black;
}
