@import "var.scss";
@import "global.scss";

.setting {
  margin: 30px 10%;
  margin-top: 0;
  padding-top: $header-height;
  min-height: 60vh;
  background-color: $color-white;
  border-radius: 12px;
  text-align: center;
}
