@import "var.scss";

.singer-detail {
  padding-top: $header-height + 150px;
  background-color: $theme-background-color;

  &::before {
    /*背景*/
    content: "";
    background-color: $theme-color;
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height + 150px;
  }
}

/*左*/
.album-slide {
  .singer-img {
    position: relative;
    display: inline-block;
    height: 20vw;
    width: 20vw;
    min-width: 100px;
    min-height: 100px;
    top: -100px;
    left: 50px;
    border-radius: 10%;
    overflow: hidden;
    border: 5px solid $color-white;
    background-color: $color-white;
    img {
      width: 100%;
    }
  }

  .info {
    color: $color-black;
    font-size: 20px;
    font-weight: 500;
    margin-top: -80px;
    padding: 2rem 40px 2rem 60px;
    li {
      width: 100%;
      height: 40px;
    }
  }
}

/*右*/
.song-list {
  padding: 0 10px;
  .intro {
    font-size: 20px;
    span {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .content {
    margin-top: 50px;
  }
}

@media screen and (min-width: $sm) {
  .album-slide {
    float: left;
    width: 400px;
  }
  .song-list {
    margin-left: 20vw;
    padding: 30px 10vw;
  }
}

@media screen and (max-width: $sm) {
  .album-slide {
    float: left;
    .info{
      float: left;
    }
  }
  .song-list {
    // margin-left: 20vw;
    // padding: 30px 10vw;
  }
}