@import "var.scss";

/*歌单背景*/
.song-sheet-detail {
  padding-top: $header-height + 150px;
  background-color: $theme-background-color;

  &::before {
    /*背景*/
    content: "";
    background-color: $theme-color;
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height + 150px;
  }
}

/*歌单左侧*/
.album-slide {
  .album-img {
    height: 250px;
    width: 250px;
    border-radius: 10%;
    border: 5px solid $color-white;
    background-color: $color-white;
    position: absolute;
    top: 80px;
    left: 50px;
  }

  /*歌单信息*/
  .album-info {
    color: $color-black;
    font-size: 20px;
    margin-top: 120px;
    padding: 2rem 40px 2rem 60px;
    li {
      width: 100%;
      height: 40px;
    }
  }
}

/*歌单内容*/
.album-main {
  /*歌单题目*/
  .album-title {
    font-size: 30px;
    font-weight: 600;
  }

  /*歌单打分*/
  .album-score {
    display: flex;
    align-items: center;
    margin: 1vw;

    h3 {
      margin: 10px 0;
    }
    span {
      font-size: 60px;
    }
    & > div:last-child {
      margin-left: 10%;
    }
  }

  /*歌曲列表*/
  .album-body {
    background-color: $color-white;
    border-radius: 12px;
    padding: 0 40px 50px 40px;
  }
}

@media screen and (min-width: $sm) {
  .album-slide {
    width: 400px;
  }
  .album-main {
    min-width: 600px;
    padding-right: 10vw;
  }
}

@media screen and (max-width: $sm) {
  .album-slide {
    display: none;
  }
}
