@import "var.scss";
@import "global.scss";

.song-sheet {
  margin: 30px 150px;
  margin-top: 0;
  padding-top: $header-height;
  padding-bottom: 50px;
  min-width: 800px;
  background-color: $color-white;
}

.song-sheet-header {
  width: 100%;
  padding: 0 40px;
  li {
    display: inline-block;
    line-height: 40px;
    margin: 40px 20px 15px 20px;
    font-size: 20px;
    font-weight: 400;
    color: $color-grey;
    border-bottom: none;
    cursor: pointer;
  }
  li.active {
    color: $color-black;
    font-weight: 600;
    border-bottom: 4px solid $color-black;
  }
}

.pagination {
  @include layout(center);
  transform: translateY(15px);
}
