@import "var.scss";
@import "global.scss";

.upload {
  width: 100%;
  .title {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $color-black;
  }
  hr {
    width: 98%;
  }
  .section {
    height: 400px;
    @include layout(center, center);
  }
}
