<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.example.yin.domain.Comment">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="song_id" property="songId" jdbcType="INTEGER" />
    <result column="song_list_id" property="songListId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="up" property="up" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, song_id, song_list_id, content, create_time, type, up
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    from comment
    where id = #{id, jdbcType=INTEGER}
  </select>
  <select id="commentOfSongId" resultMap="BaseResultMap">
    select *
    from comment
    where song_id = #{songId, jdbcType=INTEGER}
  </select>
  <select id="commentOfSongListId" resultMap="BaseResultMap">
    select *
    from comment
    where song_list_id = #{songListId, jdbcType=INTEGER}
  </select>
  <delete id="deleteComment" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id, jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.yin.domain.Comment">
    insert into comment (id, user_id, song_id, song_list_id, content, create_time, type, up)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{songId,jdbcType=INTEGER}, #{songListId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}, #{up,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.yin.domain.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="songId != null">
        song_id,
      </if>
      <if test="songListId != null">
        song_list_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="up != null">
        up,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null"> #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null"> #{userId,jdbcType=INTEGER},
      </if>
      <if test="songId != null"> #{songId,jdbcType=INTEGER},
      </if>
      <if test="songListId != null"> #{songListId,jdbcType=INTEGER},
      </if>
      <if test="content != null"> #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null"> #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null"> #{type,jdbcType=TINYINT},
      </if>
      <if test="up != null"> #{up,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateCommentMsg" parameterType="com.example.yin.domain.Comment">
    update comment
    <set >
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="songId != null">
        song_id = #{songId,jdbcType=INTEGER},
      </if>
      <if test="songListId != null">
        song_list_id = #{songListId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="up != null">
        up = #{up,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.yin.domain.Comment">
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      song_id = #{songId,jdbcType=INTEGER},
      song_list_id = #{songListId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      up = #{up,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
