<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.dao.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.example.yin.domain.Consumer">
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="phone_num" property="phoneNum" jdbcType="CHAR" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="birth" property="birth" jdbcType="TIMESTAMP" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="avator" property="avator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, sex, phone_num, email, birth, introduction, location, avator, create_time, update_time
  </sql>
  <select id="userOfId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from consumer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="verifyPassword" resultType="java.lang.Integer">
    SELECT count(*) FROM consumer where username = #{0} and password = #{1} ;
  </select>
  <select id="existUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*)
    from consumer
    where username = #{username, jdbcType=VARCHAR}
  </select>
  <select id="loginStatus" resultMap="BaseResultMap">
    select *
    from consumer
    where username = #{username,jdbcType=INTEGER}
  </select>
  <select id="allUser" resultMap="BaseResultMap">
    select *
    from consumer
  </select>

  <delete id="deleteUser" parameterType="java.lang.Integer">
    delete from consumer
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.example.yin.domain.Consumer">
    insert into consumer (id, username, password,
      sex, phone_num, email, birth,
      introduction, location, avator,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{phoneNum,jdbcType=CHAR}, #{email,jdbcType=CHAR}, #{birth,jdbcType=TIMESTAMP}, #{introduction,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{avator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.yin.domain.Consumer">
    insert into consumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="avator != null">
        avator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null"> #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null"> #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null"> #{sex,jdbcType=TINYINT},
      </if>
      <if test="phoneNum != null"> #{phoneNum,jdbcType=CHAR},
      </if>
      <if test="email != null"> #{email,jdbcType=CHAR},
      </if>
      <if test="birth != null"> #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null"> #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="location != null"> #{location,jdbcType=VARCHAR},
      </if>
      <if test="avator != null"> #{avator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null"> #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null"> #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateUserMsg" parameterType="com.example.yin.domain.Consumer">
    update consumer
    <set >
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=CHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="avator != null">
        avator = #{avator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateUserAvator" parameterType="com.example.yin.domain.Consumer">
    update consumer
    <set >
      <if test="avator != null">
        avator = #{avator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id, jdbcType=INTEGER}
  </update>
  <update id="updatePassword" parameterType="com.example.yin.domain.Consumer">
    update consumer
    <set >
      <if test="password != null">
        password = #{password, jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id, jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.yin.domain.Consumer">
    update consumer
    set username = #{username,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    sex = #{sex,jdbcType=TINYINT},
    phone_num = #{phoneNum,jdbcType=CHAR},
    email = #{email,jdbcType=CHAR},
    birth = #{birth,jdbcType=TIMESTAMP},
    introduction = #{introduction,jdbcType=VARCHAR}
    location = #{location,jdbcType=VARCHAR},
    avator = #{avator,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
