<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.mapper.RankListMapper">
    <resultMap id="BaseResultMap" type="com.example.yin.model.domain.RankList">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="songListId" property="songListId" jdbcType="BIGINT"/>
        <result column="consumerId" property="consumerId" jdbcType="BIGINT"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <!--COALESCE一个函数  遇到非空进行返回-->
    <select id="selectScoreSum" resultType="java.lang.Integer">
        SELECT COALESCE(sum(score), 0) as score
        from rank_list
        where songListId = #{0};
    </select>


</mapper>
